.about {
    &__content {
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        align-items: center;
        padding: 20px;
        width: 100%;

        &__personal-wrapper,
        &__services-wrapper {
            flex: 1;
        }

        &__personal-wrapper {

            h2,
            h3 {
                margin-bottom: 10px;
                font-weight: 700;
                color: var(--theme-main-color);
            }

            h2 {
                font-size: 1.7rem;
                padding-top: 20px;
                margin-bottom: 20px;
            }

            p {
                color: var(--theme-text-color);
                font-size: 1.2rem;
                line-height: 1.3;
                letter-spacing: .8px;
                padding-top: 5px;
                padding-bottom: 20px;
                border-bottom: 1px dashed var(--theme-main-color);
            }

            ul li {
                line-height: 1rem;
                margin-bottom: 15px;
                list-style-type: none;

                span.title,
                span.value {
                    font-size: 1.1rem;
                    font-weight: 500;
                    letter-spacing: .5px;
                    border-bottom: 2px solid var(--theme-main-color);
                    position: relative;
                    display: inline-block;
                    margin-right: 16px;
                    padding-bottom: 5px;
                    color: var(--theme-text-color);
                }

                span.value {
                    border: none;
                }
            }

            &__tech-stack {
                h3 {
                    font-size: 1.4rem;
                }
            }

        }


        &__services-wrapper {
            margin-top: 10px;
            padding: 18px;
            overflow: hidden;
            display: flex;
            justify-content: center;

        }
    }
}

@media only screen and (max-width: 768px) {
    .about__content__personal-wrapper h3 {
        font-size: 1.5rem;
    }

    .about__content {
        flex-direction: column;

    }

}


.home__details__tech-stack {
    margin-top: -32rem;
}

@media screen and (max-width: 768px) {
    .home__details__tech-stack {
        margin-top: auto;
    }
}