.floating-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 7px;
    background: white;
    box-shadow: var(--boxShadow);
    border-radius: 16px;
    padding: 0 7px;
    height: 2.7rem;
}

.floating-div>img {
    width: 1.8rem;
    height: 1.8rem;
}

.floating-div>span span {
    font-family: serif;
    font-size: 13px;
}